.routeCardGrid p {
    font-size: 70%;
}

.horizontalBarSeparator {
    margin: 0;
    margin-left: 2.5%;
    width: 95%;
    border-style: inset;
    border-width: 1px;
}

.routeCard {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 3px gray;
}

.routeCardImage img {
    padding: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: 2px;
}